# Python
*.pyc
__pycache__/

# Django
db.sqlite3
*.env

# Virtual environment
venv/
.python-version
uv.lock
# Python
*.pyc
__pycache__/

# Django
db.sqlite3
*.env

# Virtual environment
venv/
.python-version
uv.lock
